<ul class="navbar">
    <div class="nav-align">
        <li class="nav-list">
            {{ selectedLanguage || 'Language' }}
            <ul class="dropdown">
                <li><a (click)="selectLanguage('English')">English</a></li>
                <li><a (click)="selectLanguage('Tamil')">Tamil</a></li>
                <li><a (click)="selectLanguage('Telugu')">Telugu</a></li>
            </ul>
        </li>
        <li class="nav-list" (click)="onLogout()">{{'Logout' | translate:selectedLanguage}}</li>
    </div>
</ul><br>
<ng-container>
    <div class="main-div">
        <mat-form-field appearance="outline" style="width: 65%;">
            <input matInput (keyup.enter)="getWeatherData()"
                placeholder="{{'Enter your city and click search to get live weather data' | translate:selectedLanguage}}"
                [formControl]="cityName">
            <button class="button-color" mat-raised-button (click)="getWeatherData()" matSuffix>{{'Search' |
                translate:selectedLanguage}}</button>
        </mat-form-field>&nbsp;
    </div>
    <div class="main-div box-div">
        <p style="font-size: xx-large; font-family: cursive;">{{weatherDetails.name}}</p>
        <span> <img src="{{weatherDetails.icon}}" alt="sun">
            <p>{{ 'Fahrenheit' | translate:selectedLanguage }} : {{weatherDetails.tempF}}</p>
            <p>{{'Celsius' | translate:selectedLanguage}}: {{weatherDetails.tempC}}</p>
            <p>{{'Date' |translate:selectedLanguage}}: {{weatherDetails.date | date:'mediumDate' }}</p>
        </span>
    </div>
</ng-container>